/**************************************
 *  Navigation Bar
 *************************************/

/* This sets the navbar background color and button font colors. */
navigation-bar {
  background-color: #00B5FF;
  color: #ffffff;
  padding-left: 6px;
  padding-right: 6px;
}

/* Sets style for the title element on navbar. */
navigation-bar title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

/* Style for navbar buttons (not back button) */
navigation-bar button, navigation-bar back-bar-button {
  color: #ffffff;
  font-weight: medium;
  margin-left: 6px;
  margin-right: 6px;
}


/**************************************
 *  Tab Bar
 *************************************/

tab-bar {
  background-color: #ffffff;
  border-top: 1px #D8D8D8 solid;
}

tab-bar tab-bar-item {
  color: #b0b1b4;
  font-family: "Avenir";
  font-size: 10px;
}

tab-bar tab-bar-item:selected {
  color: #1596f7;
  background-color: #F2F2F2;
}

tab-bar divider {
  background-color: #D8D8D8;
}

tab-bar tab-bar-item marker-top:selected {
  background-color: #1596f7;
}

tab-bar-item#settings {
  background-image: url(icons/cog.svg);
}

tab-bar-item#index {
  background-image: url(icons/home.svg);
}
