<super-navbar>
  <super-navbar-title>
    Learn More
  </super-navbar-title>
</super-navbar>

<div class="padding">
  <h3>Supersonic First Mile</h3>
  <p>If you're not following it already, you should head on over to the <strong>First Mile tutorial</strong> at <a onclick="supersonic.app.openURL('http://docs.appgyver.com')" href="#">http://docs.appgyver.com</a>.</p>
  <p>We'll tell you all you need to know to get a running start in developing apps with Supersonic. There's also plenty of tutorials and in-depth guides in the docs, plus the full Supersonic API reference, so check it out!</p>

  <h3>Forums</h3>
  <p>Stuck on something? Built something great that you want to share? Hop on to the AppGyver forums at <a onclick="supersonic.app.openURL('https://forums.appgyver.com')" href="#">https://forums.appgyver.com</a> and join the community!</p>
</div>
