<div class="padding" ng-controller="LearnMoreController">
  <super-navbar>
    <super-navbar-title ng-bind="navbarTitle">
    </super-navbar-title>
  </super-navbar>

  <h3>Working with AngularJS</h3>

  <p>Supersonic works with AngularJS out of the box. The button below triggers an Anglar function defined in this view's controller.</p>

  <p>It will query the native side for the user's current coordinates and display them below.</p>

  <div class="card padding">
    <h4>User Location</h4>
    <button class="button button-block button-outline button-positive icon-left super-location" ng-click="getLocation()">Where am I?</button>

    <p><strong>User latitude:</strong> <span ng-bind="userLatitude"></span></p>
    <p><strong>User longitude:</strong> <span ng-bind="userLongitude"></span></p>
  </div>

  <h3>Native Components and Data Binding between Views</h3>
  <p>Angular also works great with Supersonic native components. The input field below will automatically update the navigation bar title.</p>

  <div class="card padding">
    <h4>Navigation Bar Title (Look Up!)</h4>
    <label class="item item-input">
      <input type="text" ng-model="navbarTitle">
    </label>
  </div>

  <p>What's more, Angular <strong>data models can be bound between views</strong>. the input field above stays automatically in sync with the corresponding input field on the Settings tab, which is a separate WebView.</p>

  <p>You can find the AngularJS controllers used at:</p>

  <p><strong><small>/app/example/scripts/LearnMoreController.coffee</small></strong></p>
  <p><strong><small>/app/example/scripts/SettingsController.coffee</small></strong></p>

  <h3>Supersonic First Mile</h3>

  <p>If you're not following it already, you should head on over to the <strong>First Mile tutorial</strong> at</p>

  <p><a onclick="supersonic.app.openURL('http://docs.appgyver.com')" href="#">http://docs.appgyver.com</a></p>

  <p>We'll tell you all you need to know to get a running start in developing apps with Supersonic. There's also plenty of tutorials and in-depth guides in the docs, plus the full Supersonic API reference, so check it out!</p>

  <h3>Forums</h3>
  <p>Stuck on something? Built something great that you want to share? Hop on to the AppGyver forums at <a onclick="supersonic.app.openURL('https://forums.appgyver.com')" href="#">https://forums.appgyver.com</a> and join the community!</p>
</div>
