<super-navbar>
  <super-navbar-title>
    Settings mock
  </super-navbar-title>
</super-navbar>

<div class="padding">

  <h2>Settings mock</h2>

  <p>This view has some example components for you to study and play around.</p>

  <br>
  <h2>I <span class="assertive">&lt;3</span>...</h2>
  <br>

  <ul class="list">

    <li class="item item-toggle">
       HTML5
       <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

    <li class="item item-toggle">
       CoffeeScript
       <label class="toggle toggle-royal">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

    <li class="item item-toggle">
       SASS
       <label class="toggle toggle-balanced">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

    <li class="item item-toggle">
       Native performance
       <label class="toggle toggle-calm">
         <input type="checkbox">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

  </ul>

  <br>
  <h2>Set some levels</h2>
  <br>

  <div class="list">
    <div class="item range range-positive">
      <i class="icon ion-ios7-sunny-outline"></i>
      <input type="range" name="volume" min="0" max="100" value="33">
      <i class="icon ion-ios7-sunny"></i>
    </div>

    <div class="item range range-assertive">
      <i class="icon ion-ios7-star-outline"></i>
      <input type="range" name="volume" min="0" max="100" value="90">
      <i class="icon ion-ios7-star"></i>
    </div>

    <div class="item range range-energized">
      <i class="icon ion-ios7-heart-outline"></i>
      <input type="range" name="volume" min="0" max="100" value="66">
      <i class="icon ion-ios7-heart"></i>
    </div>

    <div class="item range range-balanced">
      <i class="icon ion-ios7-bolt-outline"></i>
      <input type="range" name="volume" min="0" max="100" value="50">
      <i class="icon ion-ios7-bolt"></i>
    </div>

    <div class="item range range-royal">
      <i class="icon ion-ios7-wineglass-outline"></i>
      <input type="range" name="volume" min="0" max="100" value="10">
      <i class="icon ion-ios7-wineglass"></i>
    </div>
  </div>

  <br>
  <h2>Check some checkboxes</h2>
  <br>

  <ul class="list">

    <li class="item item-checkbox">
       <label class="checkbox">
         <input type="checkbox">
       </label>
       Flux Capacitor
    </li>

    <li class="item item-checkbox">
       <label class="checkbox checkbox-assertive">
         <input type="checkbox">
       </label>
       Warp Engine
    </li>

    <li class="item item-checkbox">
       <label class="checkbox checkbox-calm">
         <input type="checkbox">
       </label>
       Ion Drive
    </li>

  </ul>

  <br>
  <p style="text-align: center;">
    These are just quick examples of CSS UI components. There's a whole lot more of these included in the generated application.
  </p>
  <br><br>
</div>