<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      <%= _.capitalize(resourceName) %> Index
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list">
      <super-navigate ng-attr-location="<%= moduleName %>#show?id={{ <%= resourceName %>.id }}" ng-repeat="<%= resourceName %> in <%= resourceName %>s">
        <li class="item item-icon-right">
          <span ng-bind="<%= resourceName %>['<%= fields[0] %>']"></span>
          <i class="icon super-ios7-arrow-right"></i>
        </li>
      </super-navigate>
    </ul>

    <super-modal-show location="<%= moduleName %>#new">
      <button class="button button-full button-positive">
        Create a new <%= resourceName %>
      </button>
    </super-modal-show>
  </div>
</div>
