<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="<%= resourceName %>['<%= fields[0] %>']"></h2>
      <% fields.forEach( function(field) { %>
      <% if (field!=fields[0]) { %> <p><%= field %>: <span ng-bind="<%= resourceName %>['<%= field %>']"></span></p> <% } %>
      <% } ) %>


      <super-modal-show location="<%= moduleName %>#edit?id={{ <%= resourceName %>.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(<%= resourceName %>.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
