<div ng-controller="CreateCtrl" class="padding">

  <div ng-show="flash" class="list card">
      <div class="item item-divider">
        <h2 class="title">New <%= _.capitalize(resourceName) %> created!</h2>
      </div>
      <h2>{{ item['<%= fields[0] %>'] }}</h2>
      <% fields.forEach( function(field) { %>
        <% if (field!=fields[0]) { %> <p><%= field %>: {{ item['<%= field %>'] }}</p> <% } %>
      <% } ) %>
  </div>

  <div ng-hide="flash">

    <div class="bar bar-header bar-positive">
        <h1 class="title">A new <%= _.capitalize(resourceName) %></h1>
    </div>

    <form ng-submit="createNew()" style="margin-top: 1cm">
      <div class="list">
        <% fields.forEach( function(field) { %>
          <label class="item item-input item-stacked-label">
            <span class="input-label"><%= field %></span>
            <input type="text" ng-model="item['<%= field %>']">
          </label>
        <% } ) %>

        <div class="button-bar">
          <button class="button button-positive">
          Create
          </button>

          <button ng-click="cancel()" class="button button-calm">
          Cancel
          </button>

        </div>
      </div>

    </form>

    </div>
  </div>
</div>
